<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button routerLink='./add-friend'>
                <ion-icon slot="icon-only" name="add-outline">Add Friends</ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Friend</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="userProfile">
        <ion-item *ngFor="let friend of (userProfile|async)">
            <ion-label>
                <ion-grid>
                    <ion-row>
                        <ion-col class="text-center" size="7">
                            {{friend.friend.fullName}}
                        </ion-col>
                        <ion-buttons>
                            <ion-button color="danger" (click)="deleteFriend(friend)">Delete Friend</ion-button>
                        </ion-buttons>
                    </ion-row>
                </ion-grid>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-text></ion-text>
</ion-content>