<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="back()">
                <ion-back-button></ion-back-button>
            </ion-button>
        </ion-buttons>
        <ion-title>Add Friend (Klik Add Friend sudah mengirim ke Firebase tapi tidak bisa ditampilkan di List Friend)</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngFor="let user of (users|async)">
        <ion-item *ngIf="user.email != userProfile.email">
            <ion-label>
                <ion-grid>
                    <ion-row>
                        <ion-col class="text-center" size="7">
                            {{user.fullName}}
                        </ion-col>
                        <ion-buttons>
                            <ion-button (click)="addFriend(user)">Add Friend</ion-button>
                        </ion-buttons>
                    </ion-row>
                </ion-grid>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>